@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 32 51% 100%;
    --foreground: 32 63% 1%;
    --muted: 212 14% 92%;
    --muted-foreground: 212 10% 28%;
    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 0%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 0%;
    --border: 32 13% 90%;
    --input: 32 13% 90%;
    --primary: 32 9% 80%;
    --primary-foreground: 32 9% 20%;
    --secondary: 212 9% 80%;
    --secondary-foreground: 212 9% 20%;
    --accent: 212 9% 80%;
    --accent-foreground: 212 9% 20%;
    --destructive: 19 95% 22%;
    --destructive-foreground: 19 95% 82%;
    --ring: 32 9% 80%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 32 38% 0%;
    --foreground: 32 12% 99%;
    --muted: 212 14% 8%;
    --muted-foreground: 212 10% 72%;
    --popover: 0 0% 1%;
    --popover-foreground: 0 0% 100%;
    --card: 0 0% 1%;
    --card-foreground: 0 0% 100%;
    --border: 32 13% 13%;
    --input: 32 13% 13%;
    --primary: 32 9% 80%;
    --primary-foreground: 32 9% 20%;
    --secondary: 212 9% 80%;
    --secondary-foreground: 212 9% 20%;
    --accent: 212 9% 80%;
    --accent-foreground: 212 9% 20%;
    --destructive: 19 95% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 32 9% 80%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}